body {
    margin: 0 auto;
    font-family: 'MuseoModerno', cursive;
}

a {
    text-decoration: none;
}


/* header */

header {
    background: url(../imgs/background.png);
    background-repeat: no-repeat;
    background-size: 100% 65%;
    height: 757px;
}

header .navbare {
    width: 94%;
    height: 100px;
    text-align: right;
    padding: 46px 0;
    margin: 0 14px;
}

.navbare a {
    padding: 0 11px;
    transition: 0.3s;
    transition-timing-function: ease-in-out;
}

.navbare a:nth-of-type(1) {
    color: #f8319c;
}

.navbare a:nth-of-type(2):hover {
    color: #f8319c;
}

.navbare a:nth-of-type(3):hover {
    color: #f8319c;
}

header .logo {
    width: 200px;
    top: 0 !important;
    float: left;
    margin-top: -72px;
    margin-left: 0px;
}

header .content {
    width: 100%;
}

.content .pic1 {
    background: url(../imgs/contact.png);
    background-size: 450px 450px;
    background-repeat: no-repeat;
    width: 450px;
    height: 450px;
    float: left;
    margin-top: 9rem;
    margin-left: 10%;
}

.content .text {
    margin-right: 14%;
    margin-top: 117px;
    width: 445px;
    height: 200px;
    float: right;
    background-color: rgba(74, 107, 254, 0.80);
    border-radius: 20px;
    text-align: center;
    box-shadow: 0px 15px 34px 21px rgba(0, 0, 0, 0.34);
}


/* section */

section {
    background-color: #f9f9f9;
    width: 100%;
    height: 100%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    z-index: 0;
    position: relative;
}

.courses {
    width: 348px;
    height: 357px;
    position: relative;
    border-radius: 24px;
    margin: 50px auto;
    box-shadow: 0 1px 66px 0 #808080;
    transition: 0.5s;
}

.courses:hover {
    transform: translateY(-22px);
}

.courses:nth-of-type(1) {
    background: url(../imgs/html.jpg);
    background-size: 371px 204px;
    background-repeat: no-repeat;
}

.courses:nth-of-type(2) {
    background: url(../imgs/css.jpg);
    background-size: 371px 204px;
    background-repeat: no-repeat;
}

.courses:nth-of-type(3) {
    background: url(../imgs/JS.png);
    background-size: 371px 204px;
    background-repeat: no-repeat;
}

.course-info {
    background-color: #ffffff;
    position: absolute;
    bottom: 0;
    border-radius: 0 0 21px 21px;
    text-align: center;
    transition: 0.5s;
}

.course-info:hover {
    padding-top: 26px;
    border-radius: 20px 20px 21px 21px;
}

.course-info h2 {
    font-family: 'Bebas Neue', cursive;
}

.course-info p {
    font-family: 'Balsamiq Sans', cursive;
}

.course-info button {
    border-radius: 20px;
    border: 1px solid #7e7878;
    width: 113px;
    height: 30px;
    margin-bottom: 10px;
    cursor: pointer;
    transition: 0.5s;
}

.course-info button:hover {
    width: 118px;
    height: 34px;
}

.course-info button:nth-of-type(1) {
    background: #f36060;
}

.course-info button:nth-of-type(2) {
    background: #52bf52;
}

.course-info button a {
    color: #ffffff;
    font-weight: 400;
    font-size: 19px;
}

.course-info button img {
    width: 20px;
    height: 20px;
    float: right;
}

.course-info button:nth-of-type(1) img {
    margin-top: 2px;
    margin-right: 3px;
}

.course-info button:nth-of-type(2) img {
    margin-top: 2px;
    margin-right: 9px;
}


/* container 2 */

.container2 {
    width: 80%;
    height: 560px;
    margin-top: 10%;
    margin-left: auto;
    display: flex;
    flex-wrap: wrap;
}

.container2 .img2 {
    background: url(../imgs/background2.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    width: 34%;
    height: 34rem;
    position: absolute;
    left: 0;
    z-index: -1;
}

.content2 {
    margin: auto;
}

.content2 .text1 {
    width: 417px;
    height: 266px;
    background-color: rgba(74, 107, 254, 0.80);
    border-radius: 20px;
    text-align: center;
    box-shadow: 0px 15px 34px 21px rgba(0, 0, 0, 0.34);
}

.content2 .text1 p {
    display: inline-flex;
    align-self: center;
}


/* footer starts */

.new_footer_area {
    background: #fbfbfd;
}

.new_footer_top {
    padding: 120px 0px 270px;
    position: relative;
    overflow-x: hidden;
}

.new_footer_area .footer_bottom {
    padding-top: 5px;
    padding-bottom: 50px;
}

.footer_bottom {
    font-size: 14px;
    font-weight: 300;
    line-height: 20px;
    color: #7f88a6;
    padding: 27px 0px;
}

.new_footer_top .company_widget p {
    font-size: 16px;
    font-weight: 300;
    line-height: 28px;
    color: #6a7695;
    margin-bottom: 20px;
}

.new_footer_top .company_widget .f_subscribe_two .btn_get {
    border-width: 1px;
    margin-top: 20px;
    background-color: #3b69ed;
    border: 1px solid #3b69ed;
}

.btn_get_two:hover {
    background: transparent;
    color: #fe3122;
}

.btn_get:hover {
    color: #fff;
    background: #6754e2;
    border-color: #6754e2;
    -webkit-box-shadow: none;
    box-shadow: none;
}

a:hover,
a:focus,
.btn:hover,
.btn:focus,
button:hover,
button:focus {
    text-decoration: none;
    outline: none;
}

.new_footer_top .f_widget.about-widget .f_list li a:hover {
    color: #f8319c;
}

.new_footer_top .f_widget.about-widget .f_list li {
    margin-bottom: 11px;
}

.f_widget.about-widget .f_list li:last-child {
    margin-bottom: 0px;
}

.f_widget.about-widget .f_list li {
    margin-bottom: 15px;
}

.f_widget.about-widget .f_list {
    margin-bottom: 0px;
}

.new_footer_top .f_social_icon a {
    width: 44px;
    height: 44px;
    line-height: 43px;
    background: transparent;
    border: 1px solid #e2e2eb;
    font-size: 24px;
}

.f_social_icon a {
    width: 46px;
    height: 46px;
    border-radius: 50%;
    font-size: 14px;
    line-height: 45px;
    color: #858da8;
    display: inline-block;
    background: #ebeef5;
    text-align: center;
    -webkit-transition: all 0.2s linear;
    -o-transition: all 0.2s linear;
    transition: all 0.2s linear;
}

.ti-facebook:before {
    content: "\e741";
}

.ti-twitter-alt:before {
    content: "\e74b";
}

.ti-vimeo-alt:before {
    content: "\e74a";
}

.ti-pinterest:before {
    content: "\e731";
}

.btn_get_two {
    -webkit-box-shadow: none;
    box-shadow: none;
    background: #5e2ced;
    border-color: #5e2ced;
    color: #fff;
}

.btn_get_two:hover {
    background: transparent;
    color: #5e2ced;
}

.new_footer_top .f_social_icon a:hover {
    background: #12d4e2;
    border-color: #3ee8a3;
    color: white;
}

.new_footer_top .f_social_icon a+a {
    margin-left: 4px;
}

.new_footer_top .f-title {
    margin-bottom: 30px;
    color: #263b5e;
}

.f_600 {
    font-weight: 600;
}

.f_size_18 {
    font-size: 18px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: #4b505e;
}

.new_footer_top .f_widget.about-widget .f_list li a {
    color: #6a7695;
    transition: 0.5s ease;
}

.new_footer_top .footer_bg {
    position: absolute;
    bottom: 0;
    background: url("http://droitthemes.com/html/saasland/img/seo/footer_bg.png") no-repeat scroll center 0;
    width: 100%;
    height: 266px;
}

.new_footer_top .footer_bg .footer_bg_one {
    background: url("https://1.bp.blogspot.com/-mvKUJFGEc-k/XclCOUSvCnI/AAAAAAAAUAE/jnBSf6Fe5_8tjjlKrunLBXwceSNvPcp3wCLcBGAsYHQ/s1600/volks.gif") no-repeat center center;
    width: 330px;
    height: 105px;
    background-size: 100%;
    position: absolute;
    bottom: 0;
    left: 30%;
    -webkit-animation: myfirst 5s linear infinite;
    animation: myfirst 5s linear infinite;
}

.new_footer_top .footer_bg .footer_bg_two {
    background: url("https://1.bp.blogspot.com/-hjgfxUW1o1g/Xck--XOdlxI/AAAAAAAAT_4/JWYFJl83usgRFMvRfoKkSDGd--_Sv04UQCLcBGAsYHQ/s1600/cyclist.gif") no-repeat center center;
    width: 88px;
    height: 100px;
    background-size: 100%;
    bottom: 0;
    left: 38%;
    position: absolute;
    -webkit-animation: myfirst 10s linear infinite;
    animation: myfirst 10s linear infinite;
}

@-moz-keyframes myfirst {
    0% {
        left: -25%;
    }
    100% {
        left: 100%;
    }
}

@-webkit-keyframes myfirst {
    0% {
        left: -25%;
    }
    100% {
        left: 100%;
    }
}

@keyframes myfirst {
    0% {
        left: -25%;
    }
    100% {
        left: 100%;
    }
}


/*************footer End*****************/